<nav class="nav-bar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About Me</a></li>
        <li class="dropdown">
            <a href="/projects.html">Projects</a>
            <ul>
                <li><a href="/projects.html">App Design - ManHealth</a></li>
                <li><a href="/projects.html">App Design - Amazon Alexa Redesign</a></li>
                <li><a href="/projects.html">Embedded Systems & Branding - IKEA Digital Welcome Kiosk</a></li>
                <li><a href="/projects.html">Web Publishing & Social Media - Menobliss</a></li>
                <li><a href="/projects.html">Video Production - Wolds TSA</a></li>
                <li><a href="/projects.html">Archived Projects</a></li>
            </ul>  
        </li>  
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/contact.html">Contact</a></li>
    </ul>
</nav>